[submodule "Pix2Pix"]
	path = Pix2Pix
	url = git@github.com:sagars729/Pix2Pix.git
[submodule "CycleGAN"]
	path = CycleGAN
	url = git@github.com:sagars729/cyclegan-1.git
[submodule "StarGAN"]
	path = StarGAN
	url = git@github.com:sagars729/StarGAN-Tensorflow.git
